/* line 1, ../sass/css.scss */
html {
  margin-left: 80px;
  height: 100%;
  min-height: 1048px;
}

/* line 6, ../sass/css.scss */
body {
  width: 1100px;
  margin: auto;
  height: 100%;
  min-height: 1048px;
}

/* line 14, ../sass/css.scss */
header {
  padding-top: 60px;
}
/* line 17, ../sass/css.scss */
header h1 {
  background: url(../img/sprites.png) -85px 7px no-repeat;
  height: 91px;
  width: 430px;
  background-color: #003366;
  float: left;
}
/* line 25, ../sass/css.scss */
header nav {
  background-color: #003366;
  height: 91px;
  width: 640px;
  float: right;
}
/* line 27, ../sass/css.scss */
header nav ul {
  width: 100%;
  height: 100%;
}
/* line 37, ../sass/css.scss */
header nav li {
  float: left;
  height: 100%;
}
/* line 42, ../sass/css.scss */
header nav li#quienes_li:hover {
  background: url(../img/sprites.png) -868px -5px no-repeat;
  height: 105px;
}
/* line 49, ../sass/css.scss */
header nav li#podemos_li:hover {
  background: url(../img/sprites.png) -1092px -5px no-repeat;
  height: 105px;
}
/* line 57, ../sass/css.scss */
header nav li#contacto_li:hover {
  background: url(../img/sprites.png) -1115px -127px no-repeat;
  height: 105px;
}
/* line 66, ../sass/css.scss */
header nav a {
  height: 36px;
  display: block;
  margin-left: 25px;
  margin-top: 33px;
  float: left;
}
/* line 73, ../sass/css.scss */
header nav a:hover {
  background-color: #CC0000;
}

/* line 82, ../sass/css.scss */
#quienes {
  background: url(../img/sprites.png) -109px -95px no-repeat;
  width: 204px;
  margin-left: 13px;
}

/* line 90, ../sass/css.scss */
#podemos {
  background: url(../img/sprites.png) -323px -95px no-repeat;
  width: 279px;
  margin-left: 10px;
}

/* line 96, ../sass/css.scss */
#contacto {
  background: url(../img/sprites.png) -605px -95px no-repeat;
  width: 119px;
  margin-left: 13px;
}

/* line 103, ../sass/css.scss */
#main {
  position: relative;
  margin: 0 auto -161px;
  height: 100%;
  min-height: 1048px;
}

/* line 110, ../sass/css.scss */
#promo {
  background-color: #EDEDED;
  background: url(../img/sprites.png) 0px -630px no-repeat;
  height: 277px;
  width: 1100px;
  margin-top: -55px;
  border-color: #CCCCCC;
  border-top-style: solid;
  border-width: 1px;
}
/* line 120, ../sass/css.scss */
#promo .section-1 {
  background: url(../img/sprites.png) 1px -175px no-repeat;
  height: 170px;
  width: 284px;
  margin-top: 106px;
  float: left;
}
/* line 128, ../sass/css.scss */
#promo .section-2 {
  background: url(../img/sprites.png) -339px -174px no-repeat;
  height: 170px;
  width: 284px;
  margin-top: 106px;
  float: left;
  margin-left: 60px;
}
/* line 137, ../sass/css.scss */
#promo .section-3 {
  background: url(../img/sprites.png) -675px -131px no-repeat;
  height: 208px;
  width: 424px;
  margin-top: 62px;
  float: left;
  margin-left: 47px;
}

/* line 147, ../sass/css.scss */
#info {
  height: 190px;
  width: 1100px;
  margin-top: 15px;
}
/* line 152, ../sass/css.scss */
#info .section-1 {
  width: 313px;
  height: 171px;
  background-color: #EDEDED;
  border-color: #CCCCCC;
  border-style: solid;
  border-width: 1px;
  float: left;
  margin-left: 50px;
}
/* line 164, ../sass/css.scss */
#info .section-1 div {
  background: url(../img/sprites.png) -57px -394px no-repeat;
  height: 171px;
  width: 327px;
  margin-top: 20px;
  float: left;
  margin-left: -1px;
}
/* line 176, ../sass/css.scss */
#info .section-2 {
  width: 313px;
  height: 171px;
  background-color: #EDEDED;
  border-color: #CCCCCC;
  border-style: solid;
  border-width: 1px;
  float: left;
  margin-left: 30px;
}
/* line 187, ../sass/css.scss */
#info .section-2 div {
  background: url(../img/sprites.png) -396px -383px no-repeat;
  height: 171px;
  width: 327px;
  margin-top: 9px;
  float: left;
  margin-left: -1px;
}
/* line 199, ../sass/css.scss */
#info .section-3 {
  width: 313px;
  height: 171px;
  background-color: #EDEDED;
  border-color: #CCCCCC;
  border-style: solid;
  border-width: 1px;
  float: left;
  margin-left: 30px;
}
/* line 210, ../sass/css.scss */
#info .section-3 div {
  background: url(../img/sprites.png) -736px -397px no-repeat;
  height: 171px;
  width: 327px;
  margin-top: 23px;
  float: left;
  margin-left: -1px;
}

/* line 223, ../sass/css.scss */
#otro {
  height: 277px;
  width: 1100px;
  margin-top: 15px;
}
/* line 229, ../sass/css.scss */
#otro .section-1 {
  float: left;
}
/* line 233, ../sass/css.scss */
#otro .section-1 a {
  margin-left: 120px;
  width: 164px;
  height: 45px;
  background: url(../img/sprites.png) -123px -576px no-repeat;
}
/* line 241, ../sass/css.scss */
#otro .section-2 {
  float: left;
}
/* line 245, ../sass/css.scss */
#otro .section-2 a {
  margin-left: 175px;
  width: 194px;
  height: 45px;
  background: url(../img/sprites.png) -395px -576px no-repeat;
}
/* line 253, ../sass/css.scss */
#otro .section-3 {
  float: left;
}
/* line 257, ../sass/css.scss */
#otro .section-3 a {
  margin-left: 130px;
  width: 225px;
  height: 45px;
  background: url(../img/sprites.png) -810px -576px no-repeat;
}

/* line 267, ../sass/css.scss */
.push {
  height: 161px;
}

/* line 271, ../sass/css.scss */
footer {
  color: white;
  background-color: #333333;
  height: 110px;
  padding-top: 51px;
}
/* line 277, ../sass/css.scss */
footer a#hwm {
  display: block;
  height: 62px;
  width: 121px;
  background: url(../img/sprites.png) -586px -14px no-repeat;
  margin-left: 20px;
  float: left;
}
/* line 287, ../sass/css.scss */
footer div {
  margin-top: 5px;
  float: left;
  clear: right;
  margin-left: 50px;
}
/* line 294, ../sass/css.scss */
footer div #twitter {
  margin-top: 5px;
  width: 20px;
  height: 15px;
  display: block;
  float: left;
  background: url(../img/sprites.png) -756px -37px no-repeat;
  margin-left: 5px;
}
/* line 304, ../sass/css.scss */
footer div #fb {
  margin-top: 5px;
  width: 20px;
  height: 15px;
  display: block;
  float: left;
  background: url(../img/sprites.png) -786px -37px no-repeat;
  margin-left: 10px;
}
