/* line 1, ../sass/css.scss */
html {
  /*margin-left:80px;*/
  height: 100%;
  min-height: 944px;
}

/* line 6, ../sass/css.scss */
body {
  width: 1100px;
  margin: auto;
  height: 100%;
  min-height: 944px;
}

/* line 14, ../sass/css.scss */
header {
  padding-top: 60px;
}
/* line 17, ../sass/css.scss */
.browser_fix header {
  position: relative;
  z-index: 1;
}
/* line 23, ../sass/css.scss */
header h1 {
  background: url(../img/sprites.png) -85px 7px no-repeat;
  height: 91px;
  width: 430px;
  background-color: #003366;
  float: left;
}
/* line 30, ../sass/css.scss */
.browser_fix header h1 {
  font-size: 0;
}
/* line 35, ../sass/css.scss */
header nav {
  background-color: #003366;
  height: 91px;
  width: 640px;
  float: right;
}
/* line 37, ../sass/css.scss */
header nav ul {
  width: 100%;
  height: 100%;
}
/* line 47, ../sass/css.scss */
header nav li {
  float: left;
  height: 100%;
}
/* line 49, ../sass/css.scss */
header nav li:hover {
  cursor: pointer;
}
/* line 56, ../sass/css.scss */
header nav li#quienes_li:hover, header nav li#quienes_li.selected {
  background: url(../img/sprites.png) -868px -5px no-repeat;
  height: 105px;
}
/* line 63, ../sass/css.scss */
header nav li#podemos_li:hover, header nav li#podemos_li.selected {
  background: url(../img/sprites.png) -1092px -5px no-repeat;
  height: 105px;
}
/* line 71, ../sass/css.scss */
header nav li#contacto_li:hover, header nav li#contacto_li.selected {
  background: url(../img/sprites.png) -1115px -127px no-repeat;
  height: 105px;
}
/* line 80, ../sass/css.scss */
header nav a {
  height: 36px;
  display: block;
  margin-left: 25px;
  margin-top: 33px;
  float: left;
}
/* line 87, ../sass/css.scss */
header nav a:hover {
  background-color: #CC0000;
}

/* line 96, ../sass/css.scss */
#quienes {
  background: url(../img/sprites.png) -109px -95px no-repeat;
  width: 204px;
  margin-left: 13px;
}

/* line 104, ../sass/css.scss */
#podemos {
  background: url(../img/sprites.png) -323px -95px no-repeat;
  width: 279px;
  margin-left: 10px;
}

/* line 110, ../sass/css.scss */
#contacto {
  background: url(../img/sprites.png) -605px -95px no-repeat;
  width: 119px;
  margin-left: 13px;
}

/* line 117, ../sass/css.scss */
#main {
  position: relative;
  margin: 0 auto -161px;
  height: 100%;
  min-height: 944px;
}
/* line 123, ../sass/css.scss */
#main.quienes_page {
  margin: 0 auto -10px;
}
/* line 127, ../sass/css.scss */
#main.podemos_page {
  margin: 0 auto -10px;
}
/* line 131, ../sass/css.scss */
#main.contacto_page {
  margin: 0 auto -10px;
}

/* line 136, ../sass/css.scss */
#promo {
  background-color: #EDEDED;
  background: url(../img/sprites.png) 0px -630px no-repeat;
  height: 277px;
  width: 1100px;
  margin-top: -55px;
  border-color: #CCCCCC;
  border-top-style: solid;
  border-width: 1px;
}
/* line 146, ../sass/css.scss */
#promo .section-1 {
  background: url(../img/sprites.png) 1px -175px no-repeat;
  height: 170px;
  width: 284px;
  margin-top: 106px;
  float: left;
}
/* line 153, ../sass/css.scss */
.browser_fix #promo .section-1 {
  margin-top: 52px;
}
/* line 158, ../sass/css.scss */
#promo .section-2 {
  background: url(../img/sprites.png) -339px -174px no-repeat;
  height: 170px;
  width: 284px;
  margin-top: 106px;
  float: left;
  margin-left: 60px;
}
/* line 166, ../sass/css.scss */
.browser_fix #promo .section-2 {
  margin-top: 52px;
}
/* line 171, ../sass/css.scss */
#promo .section-3 {
  background: url(../img/sprites.png) -675px -131px no-repeat;
  height: 208px;
  width: 424px;
  margin-top: 62px;
  float: left;
  margin-left: 47px;
}
/* line 179, ../sass/css.scss */
.browser_fix #promo .section-3 {
  margin-top: 10px !important;
}

/* line 185, ../sass/css.scss */
#info {
  height: 190px;
  width: 1100px;
  margin-top: 15px;
}
/* line 190, ../sass/css.scss */
#info .section-1 {
  width: 313px;
  height: 171px;
  background-color: #EDEDED;
  border-color: #CCCCCC;
  border-style: solid;
  border-width: 1px;
  float: left;
  margin-left: 50px;
}
/* line 202, ../sass/css.scss */
#info .section-1 div {
  background: url(../img/sprites.png) -57px -394px no-repeat;
  height: 171px;
  width: 327px;
  margin-top: 20px;
  float: left;
  margin-left: -1px;
}
/* line 214, ../sass/css.scss */
#info .section-2 {
  width: 313px;
  height: 171px;
  background-color: #EDEDED;
  border-color: #CCCCCC;
  border-style: solid;
  border-width: 1px;
  float: left;
  margin-left: 30px;
}
/* line 225, ../sass/css.scss */
#info .section-2 div {
  background: url(../img/sprites.png) -396px -383px no-repeat;
  height: 171px;
  width: 327px;
  margin-top: 9px;
  float: left;
  margin-left: -1px;
}
/* line 237, ../sass/css.scss */
#info .section-3 {
  width: 313px;
  height: 171px;
  background-color: #EDEDED;
  border-color: #CCCCCC;
  border-style: solid;
  border-width: 1px;
  float: left;
  margin-left: 30px;
}
/* line 248, ../sass/css.scss */
#info .section-3 div {
  background: url(../img/sprites.png) -736px -397px no-repeat;
  height: 171px;
  width: 327px;
  margin-top: 23px;
  float: left;
  margin-left: -1px;
}

/* line 260, ../sass/css.scss */
#otro {
  height: 277px;
  width: 1100px;
  margin-top: 15px;
}
/* line 266, ../sass/css.scss */
#otro .section-1 {
  float: left;
}
/* line 270, ../sass/css.scss */
#otro .section-1 a {
  margin-left: 120px;
  width: 164px;
  height: 45px;
  background: url(../img/sprites.png) -123px -576px no-repeat;
}
/* line 276, ../sass/css.scss */
#otro .section-1 p {
  width: 317px;
  margin-left: 50px;
  text-align: justify;
  margin-top: 10px;
  font-size: 14px;
}
/* line 285, ../sass/css.scss */
#otro .section-2 {
  float: left;
}
/* line 289, ../sass/css.scss */
#otro .section-2 a {
  margin-left: 70px;
  width: 194px;
  height: 45px;
  background: url(../img/sprites.png) -395px -576px no-repeat;
}
/* line 297, ../sass/css.scss */
#otro .section-3 {
  float: left;
}
/* line 301, ../sass/css.scss */
#otro .section-3 a {
  margin-left: 130px;
  width: 225px;
  height: 45px;
  background: url(../img/sprites.png) -810px -576px no-repeat;
}
/* line 307, ../sass/css.scss */
#otro .section-3 iframe {
  margin-left: 240px;
  width: 200px !important;
}

/* line 315, ../sass/css.scss */
.push {
  height: 161px;
}

/* line 319, ../sass/css.scss */
footer {
  color: white;
  background-color: #333333;
  height: 110px;
  padding-top: 51px;
  position: relative;
}
/* line 325, ../sass/css.scss */
footer a#hwm {
  display: block;
  height: 62px;
  width: 121px;
  background: url(../img/sprites.png) -586px -14px no-repeat;
  margin-left: 20px;
  float: left;
}
/* line 335, ../sass/css.scss */
footer div {
  margin-top: 5px;
  float: left;
  clear: right;
  margin-left: 50px;
}
/* line 342, ../sass/css.scss */
footer div #twitter {
  margin-top: 5px;
  width: 20px;
  height: 15px;
  display: block;
  float: left;
  background: url(../img/sprites.png) -756px -37px no-repeat;
  margin-left: 5px;
}
/* line 352, ../sass/css.scss */
footer div #fb {
  margin-top: 5px;
  width: 20px;
  height: 15px;
  display: block;
  float: left;
  background: url(../img/sprites.png) -786px -37px no-repeat;
  margin-left: 10px;
}

/******************************************CSS SECTIONS**********************************************/
/* line 372, ../sass/css.scss */
.browser_fix .quienes_page .section_container_main {
  position: relative;
  top: -55px;
  z-index: 1px;
}
/* line 379, ../sass/css.scss */
.quienes_page .titulo {
  background: url(../img/sprites_sections.png) 0 0 no-repeat;
  width: 1100px;
  height: 176px;
  display: block;
  margin-top: -55px;
}
/* line 386, ../sass/css.scss */
.browser_fix .quienes_page .titulo {
  position: relative;
  top: -55px;
  z-index: 1px;
}
/* line 393, ../sass/css.scss */
.quienes_page .titulo h2 {
  background: url(../img/sprites_sections.png) -477px -559px no-repeat;
  width: 246px;
  height: 52px;
  display: block;
  margin-top: 95px;
  margin-left: 15px;
}
/* line 403, ../sass/css.scss */
.quienes_page .suit_imagen {
  background: url(../img/sprites_sections.png) -47px -183px no-repeat;
  width: 232px;
  height: 368px;
  display: block;
  margin-top: -21px;
  margin-left: 15px;
  float: left;
}
/* line 413, ../sass/css.scss */
.quienes_page p {
  /*background:url(../img/sprites_sections.png) -477px -614px no-repeat;*/
  width: 513px;
  height: 57px;
  display: block;
  margin-top: 60px;
  margin-left: 25px;
  float: left;
}
/* line 422, ../sass/css.scss */
.quienes_page p.second {
  margin-top: 50px;
}
/* line 427, ../sass/css.scss */
.quienes_page .video {
  background: url(../img/sprites_sections.png) -21px -564px no-repeat;
  width: 402px;
  height: 241px;
  display: block;
  margin-top: 15px;
  margin-left: 1px;
  float: left;
  clear: left;
}
/* line 437, ../sass/css.scss */
.quienes_page .video:hover {
  cursor: pointer;
}
/* line 441, ../sass/css.scss */
.quienes_page .video video {
  background: black;
}
/* line 447, ../sass/css.scss */
.quienes_page .estos_somos {
  background: url(../img/sprites_sections.png) -438px -260px no-repeat;
  width: 595px;
  height: 241px;
  display: block;
  margin-top: 15px;
  margin-left: 50px;
  float: left;
  padding-left: 20px;
}
/* line 457, ../sass/css.scss */
.quienes_page .estos_somos .employee_container {
  margin-top: 80px;
  width: 92px;
  height: 98px;
  float: left;
}
/* line 463, ../sass/css.scss */
.quienes_page .estos_somos .employee_container .descripcion {
  display: none;
  width: 300px;
}
/* line 466, ../sass/css.scss */
.quienes_page .estos_somos .employee_container .descripcion.leo {
  width: 250px;
}
/* line 468, ../sass/css.scss */
.quienes_page .estos_somos .employee_container .descripcion.leo h3 {
  position: relative;
  top: -72px;
  left: 105px;
  font-size: 22px;
}
/* line 474, ../sass/css.scss */
.quienes_page .estos_somos .employee_container .descripcion.leo ul {
  position: relative;
  top: -65px;
  left: 80px;
}
/* line 482, ../sass/css.scss */
.quienes_page .estos_somos .employee_container .descripcion.cristian h3 {
  position: relative;
  top: -72px;
  left: 105px;
  font-size: 22px;
}
/* line 488, ../sass/css.scss */
.quienes_page .estos_somos .employee_container .descripcion.cristian ul {
  position: relative;
  top: -55px;
  left: 80px;
}
/* line 499, ../sass/css.scss */
.quienes_page .estos_somos .employee {
  width: 92px;
  height: 98px;
}
/* line 504, ../sass/css.scss */
.quienes_page .estos_somos .employee.leo {
  background: url(../img/sprites_sections.png) -309px -1491px no-repeat;
  cursor: pointer;
}
/* line 509, ../sass/css.scss */
.quienes_page .estos_somos .employee.cristian {
  background: url(../img/sprites_sections.png) -309px -1617px no-repeat;
  cursor: pointer;
}

/* line 521, ../sass/css.scss */
.browser_fix .podemos_page .section_container_main {
  position: relative;
  top: -55px;
  z-index: 1px;
}
/* line 527, ../sass/css.scss */
.podemos_page .titulo {
  background: url(../img/sprites_sections.png) 0 0 no-repeat;
  width: 1100px;
  height: 176px;
  display: block;
  margin-top: -55px;
}
/* line 534, ../sass/css.scss */
.browser_fix .podemos_page .titulo {
  position: relative;
  top: -55px;
  z-index: 1px;
}
/* line 543, ../sass/css.scss */
.podemos_page .titulo h2 {
  background: url(../img/sprites_sections.png) -477px -689px no-repeat;
  width: 358px;
  height: 52px;
  display: block;
  margin-top: 95px;
  margin-left: 15px;
}
/* line 553, ../sass/css.scss */
.podemos_page .suit_imagen {
  background: url(../img/sprites_sections.png) -904px -873px no-repeat;
  width: 145px;
  height: 368px;
  display: block;
  margin-top: -21px;
  margin-left: 75px;
  float: left;
}
/* line 563, ../sass/css.scss */
.podemos_page .section_container {
  float: left;
  margin-left: 15px;
}
/* line 567, ../sass/css.scss */
.podemos_page .section_container .section-1 {
  background-color: #EDEDED;
  border-width: 1px;
  border-color: #CCCCCC;
  border-style: solid;
  width: 800px;
  height: 200px;
  display: block;
  margin-left: 15px;
  margin-top: 25px;
}
/* line 578, ../sass/css.scss */
.podemos_page .section_container .section-1 h3 {
  width: 220px;
  height: 33px;
  background: url(../img/sprites_sections.png) -477px -758px no-repeat;
  margin-top: 15px;
  margin-left: 15px;
}
/* line 586, ../sass/css.scss */
.podemos_page .section_container .section-1 p {
  width: 771px;
  height: 39px;
  background: url(../img/sprites_sections.png) -477px -797px no-repeat;
  margin-top: 10px;
  margin-left: 15px;
}
/* line 595, ../sass/css.scss */
.podemos_page .section_container .section-2 {
  background: url(../img/sprites_sections.png) -22px -861px no-repeat;
  width: 802px;
  height: 252px;
  display: block;
  margin-left: 15px;
  margin-top: 25px;
}
/* line 603, ../sass/css.scss */
.podemos_page .section_container .section-2 p {
  margin-left: 170px;
  margin-top: 5px;
  display: block;
  height: 112px;
  width: 388px;
  background: url(../img/sprites_sections.png) -35px -1359px no-repeat;
}
/* line 612, ../sass/css.scss */
.podemos_page .section_container .section-2 h3 {
  width: 139px;
  height: 33px;
  background: url(../img/sprites_sections.png) -1003px -559px no-repeat;
  margin-top: 15px;
  margin-left: 15px;
}
/* line 621, ../sass/css.scss */
.podemos_page .section_container .section-2 ul {
  margin-left: 10px;
  margin-top: 28px;
  display: block;
  height: 54px;
  width: 739px;
  background: url(../img/sprites_sections.png) -475px -1394px no-repeat;
}
/* line 631, ../sass/css.scss */
.podemos_page .section_container .section-3 {
  background-color: #CC0000;
  border-width: 1px;
  border-color: #CCCCCC;
  border-style: solid;
  width: 800px;
  height: 100px;
  display: block;
  margin-left: 15px;
  margin-top: 25px;
}
/* line 642, ../sass/css.scss */
.podemos_page .section_container .section-3 h3 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  display: block;
  height: 61px;
  width: 425px;
  background: url(../img/sprites_sections.png) -528px -193px no-repeat;
}

/* line 655, ../sass/css.scss */
#quiero_click {
  cursor: pointer;
}

/* line 662, ../sass/css.scss */
.browser_fix .contacto_page .section_container_main {
  position: relative;
  top: -55px;
  z-index: 1px;
}
/* line 669, ../sass/css.scss */
.contacto_page .titulo {
  background: url(../img/sprites_sections.png) 0 0 no-repeat;
  width: 1100px;
  height: 176px;
  display: block;
  margin-top: -55px;
}
/* line 676, ../sass/css.scss */
.browser_fix .contacto_page .titulo {
  position: relative;
  top: -55px;
  z-index: 1px;
}
/* line 683, ../sass/css.scss */
.contacto_page .titulo h2 {
  background: url(../img/sprites_sections.png) -1003px -677px no-repeat;
  width: 246px;
  height: 52px;
  display: block;
  margin-top: 95px;
  margin-left: 15px;
}
/* line 693, ../sass/css.scss */
.contacto_page .suit_imagen {
  background: url(../img/sprites_sections.png) -1052px -861px no-repeat;
  width: 232px;
  height: 445px;
  display: block;
  margin-top: -35px;
  margin-left: 15px;
  float: left;
}
/* line 703, ../sass/css.scss */
.contacto_page #llamenos {
  margin-top: 60px;
  float: left;
}
/* line 707, ../sass/css.scss */
.contacto_page #llamenos h3 {
  width: 104px;
  height: 33px;
  background: url(../img/sprites_sections.png) -47px -1137px no-repeat;
  margin-left: 1px;
  margin-right: 1px;
}
/* line 715, ../sass/css.scss */
.contacto_page #llamenos p {
  width: 196px;
  height: 43px;
  background-color: #EDEDED;
  border-color: #CCCCCC;
  border-style: solid;
  border-width: 1px;
}
/* line 723, ../sass/css.scss */
.contacto_page #llamenos p span {
  margin-top: 3px;
  display: block;
  width: 196px;
  height: 43px;
  background: url(../img/sprites_sections.png) -47px -1170px no-repeat;
}
/* line 731, ../sass/css.scss */
.contacto_page #llamenos p a {
  display: block;
  width: 196px;
  height: 43px;
}
/* line 741, ../sass/css.scss */
.contacto_page #skype {
  float: left;
  margin-top: 60px;
  margin-left: 40px;
}
/* line 746, ../sass/css.scss */
.contacto_page #skype h3 {
  width: 104px;
  height: 33px;
  background: url(../img/sprites_sections.png) -294px -1137px no-repeat;
  margin-left: 1px;
  margin-right: 1px;
}
/* line 754, ../sass/css.scss */
.contacto_page #skype p {
  width: 196px;
  height: 43px;
  background-color: #EDEDED;
  border-color: #CCCCCC;
  border-style: solid;
  border-width: 1px;
}
/* line 762, ../sass/css.scss */
.contacto_page #skype p span {
  margin-top: 3px;
  display: block;
  width: 196px;
  height: 43px;
  background: url(../img/sprites_sections.png) -315px -1170px no-repeat;
  margin-left: 15px;
}
/* line 775, ../sass/css.scss */
.contacto_page #redes_sociales {
  float: left;
  margin-top: 60px;
  margin-left: 40px;
}
/* line 780, ../sass/css.scss */
.contacto_page #redes_sociales h3 {
  width: 165px;
  height: 33px;
  background: url(../img/sprites_sections.png) -540px -1137px no-repeat;
  margin-left: 1px;
  margin-right: 1px;
}
/* line 788, ../sass/css.scss */
.contacto_page #redes_sociales a {
  display: block;
  width: 156px;
  height: 37px;
}
/* line 794, ../sass/css.scss */
.contacto_page #redes_sociales .facebook {
  float: left;
  width: 156px;
  height: 37px;
  background: url(../img/sprites_sections.png) -696px -1170px no-repeat;
}
/* line 801, ../sass/css.scss */
.contacto_page #redes_sociales .twitter {
  float: left;
  width: 156px;
  height: 37px;
  background: url(../img/sprites_sections.png) -540px -1170px no-repeat;
}
/* line 810, ../sass/css.scss */
.contacto_page #email {
  width: 700px;
  height: 85px;
  margin-top: 165px;
}
/* line 815, ../sass/css.scss */
.contacto_page #email h3 {
  width: 104px;
  height: 33px;
  background: url(../img/sprites_sections.png) -47px -1230px no-repeat;
  margin-left: 1px;
  margin-right: 1px;
}
/* line 823, ../sass/css.scss */
.contacto_page #email p {
  width: 396px;
  height: 43px;
  background-color: #EDEDED;
  border-color: #CCCCCC;
  border-style: solid;
  border-width: 1px;
}
/* line 831, ../sass/css.scss */
.contacto_page #email p span {
  margin-top: 3px;
  display: block;
  width: 387px;
  height: 43px;
  background: url(../img/sprites_sections.png) -52px -1263px no-repeat;
  margin-left: 5px;
}
/* line 842, ../sass/css.scss */
.contacto_page #email a {
  display: block;
  width: 396px;
  height: 43px;
}
/* line 850, ../sass/css.scss */
.contacto_page .gracias {
  margin-top: 34px;
  font-size: 23px;
  width: 785px;
  color: #333333;
}
/* line 857, ../sass/css.scss */
.contacto_page #formulario {
  width: 600px;
  float: left;
}
/* line 861, ../sass/css.scss */
.contacto_page #formulario label {
  float: left;
  margin-top: 10px;
}
/* line 865, ../sass/css.scss */
.contacto_page #formulario label.nombre {
  height: 21px;
  width: 70px;
  background: url(../img/sprites_sections.png) -491px -1250px no-repeat;
}
/* line 871, ../sass/css.scss */
.contacto_page #formulario label.email {
  height: 21px;
  width: 70px;
  background: url(../img/sprites_sections.png) -840px -1251px no-repeat;
}
/* line 877, ../sass/css.scss */
.contacto_page #formulario label.empresa {
  clear: left;
  height: 21px;
  width: 70px;
  background: url(../img/sprites_sections.png) -495px -1299px no-repeat;
}
/* line 884, ../sass/css.scss */
.contacto_page #formulario label.telefono {
  height: 21px;
  width: 70px;
  background: url(../img/sprites_sections.png) -839px -1299px no-repeat;
}
/* line 890, ../sass/css.scss */
.contacto_page #formulario label.mensaje {
  clear: left;
  height: 21px;
  width: 70px;
  background: url(../img/sprites_sections.png) -494px -1349px no-repeat;
}
/* line 900, ../sass/css.scss */
.contacto_page #formulario form {
  padding-left: 40px;
  padding-top: 30px;
  width: 760px;
  height: 270px;
  background-color: #EDEDED;
  border-color: #CCCCCC;
  border-style: solid;
  border-width: 1px;
}
/* line 910, ../sass/css.scss */
.contacto_page #formulario form input[type="text"] {
  width: 277px;
  height: 32px;
  border-color: #CCCCCC;
  border-style: solid;
  border-width: 1px;
  float: left;
  margin-bottom: 10px;
}
/* line 920, ../sass/css.scss */
.contacto_page #formulario form textarea {
  width: 623px;
  height: 134px;
  border-color: #CCCCCC;
  border-style: solid;
  border-width: 1px;
  float: left;
  resize: none;
}
/* line 930, ../sass/css.scss */
.contacto_page #formulario form input[type="submit"] {
  width: 92px;
  height: 33px;
  background-color: #CC0000;
  float: right;
  position: relative;
  top: 39px;
  left: -10px;
  background: url(../img/sprites_sections.png) -665px -1305px no-repeat;
}
/* line 944, ../sass/css.scss */
.contacto_page #formulario h3 {
  margin-top: 20px;
  display: block;
  width: 387px;
  height: 43px;
  background: url(../img/sprites_sections.png) -47px -1315px no-repeat;
  margin-left: 5px;
}
