html{
    /*margin-left:80px;*/
    height: 100%;
    min-height: 944px;
}
body{
    width: 1100px;
    margin: auto;
    height: 100%;
    min-height: 944px;
}


header{
    padding-top:60px;

        .browser_fix &{
            position:relative;
            z-index: 1;

        }

    h1 {
        background: url(../img/sprites.png) -85px 7px no-repeat;
        height:91px;
        width:430px;
        background-color:#003366;
        float:left;

        .browser_fix & {
           font-size:0;
        }
    }

    nav{

        ul{
            width:100%;
            height:100%;
        }

         background-color:#003366;
         height:91px;
         width:640px;
         float:right;

         li{

            &:hover{
                cursor:pointer;
            }

            float: left;
            height:100%;

             &#quienes_li:hover, &#quienes_li.selected{

                  background:url(../img/sprites.png) -868px -5px no-repeat;
                  height:105px;

             }

             &#podemos_li:hover,&#podemos_li.selected{

                  background:url(../img/sprites.png) -1092px -5px no-repeat;;
                  height:105px;


             }

             &#contacto_li:hover,&#contacto_li.selected{

                 background: url(../img/sprites.png) -1115px -127px no-repeat;
                  height:105px;

             }

         }

         a {
            height:36px;
            display:block;
            margin-left:25px;
            margin-top:33px;
            float:left;

            &:hover{
                background-color:#CC0000;
            }
         }
    }

}


#quienes{
    background: url(../img/sprites.png) -109px -95px no-repeat;
    width:204px;
    margin-left:13px;

}


#podemos{
    background: url(../img/sprites.png) -323px -95px no-repeat;
    width:279px;
    margin-left:10px;
}

#contacto{
    background: url(../img/sprites.png) -605px -95px no-repeat;
    width:119px;
    margin-left:13px;
}


#main{
    position: relative;
    margin: 0 auto -161px;
    height: 100%;
    min-height: 944px;

    &.quienes_page{
        margin: 0 auto -10px;
    }

    &.podemos_page{
        margin: 0 auto -10px;
    }

    &.contacto_page{
        margin: 0 auto -10px;
    }
}



#gray_background{
    background:url(../img/sprites_sections.png) 0 0 no-repeat;
        width:1100px;
        height:176px;
        display:block;
        margin-top: -55px;

        .browser_fix &{
            position:relative;
            top:-55px;
            z-index: 1px;

        }
}

#banner{
    height:354px;
}

/*#promo{
    background-color:#EDEDED;
    background: url(../img/sprites.png) -0px -630px no-repeat;
    height:277px;
    width:1100px;
    margin-top: -55px;
    border-color:#CCCCCC;
    border-top-style:solid  ;
    border-width:1px;

    .section-1{
        background: url(../img/sprites.png) 1px -175px no-repeat;
        height:170px;
        width:284px;
        margin-top: 106px;
        float:left;

        .browser_fix & {
            margin-top:52px;
        }
    }

    .section-2{
        background: url(../img/sprites.png) -339px -174px no-repeat;
        height:170px;
        width:284px;
        margin-top: 106px;
        float:left;
        margin-left:60px;

        .browser_fix & {
            margin-top:52px;
        }
    }

    .section-3{
        background: url(../img/sprites.png) -675px -131px no-repeat;
        height:208px;
        width:424px;
        margin-top: 62px;
        float:left;
        margin-left: 47px;

       .browser_fix & {
            margin-top:10px !important;
        }
    }
}
*/


/*#info{
    height:190px;
    width:1100px;
    margin-top: 15px;

    .section-1{

        width:313px;
        height:171px;
        background-color:#EDEDED;
        border-color:#CCCCCC;
        border-style:solid  ;
        border-width:1px;
        float:left;
        margin-left:50px;


        div{

            background: url(../img/sprites.png) -57px -394px no-repeat;
            height:171px;
            width:327px;
            margin-top: 20px;
            float:left;
            margin-left:-1px;

        }
    }

    .section-2{

        width:313px;
        height:171px;
        background-color:#EDEDED;
        border-color:#CCCCCC;
        border-style:solid  ;
        border-width:1px;
        float:left;
        margin-left:30px;

        div{

            background: url(../img/sprites.png) -396px -383px no-repeat;
            height:171px;
            width:327px;
            margin-top: 9px;
            float:left;
            margin-left:-1px;

        }
    }

    .section-3{

        width:313px;
        height:171px;
        background-color:#EDEDED;
        border-color:#CCCCCC;
        border-style:solid  ;
        border-width:1px;
        float:left;
        margin-left:30px;

        div{
            background: url(../img/sprites.png) -736px -397px no-repeat;
            height:171px;
            width:327px;
            margin-top: 23px;
            float:left;
            margin-left:-1px;

        }
    }
}
*/
#otro{

    height:277px;
    width:1100px;
    margin-top: 15px;

    .section-1{

        float:left;

        a{
            margin-left:120px;
            width:164px;
            height:45px;
            background: url(../img/sprites.png) -123px -576px no-repeat;
        }
        p{
            width: 317px;
            margin-left: 50px;
            text-align: justify;
            margin-top: 10px;
            font-size: 14px;
        }
    }

    .section-2{

        float:left;

        a{
            margin-left:70px;
            width:194px;
            height:45px;
            background: url(../img/sprites.png) -395px -576px no-repeat;
        }
    }

    .section-3{

        float:left;

        a{
            margin-left:130px;
            width:225px;
            height:45px;
            background: url(../img/sprites.png) -810px -576px no-repeat;
        }
        iframe{
            margin-left:240px;
            width:200px !important;
        }
    }

}

.push{
    height: 161px;
}

footer{
    color:white;
    background-color:#333333;
    height: 110px;
    padding-top:51px;
    position:relative;
    a#hwm{
        display:block;
        height:62px;
        width:121px;
        background: url(../img/sprites.png) -586px -14px no-repeat;
        margin-left:20px;
        float:left;

    }

    div{

        margin-top:5px;
        float:left;
        clear:right;
        margin-left: 50px;

        #twitter{
            margin-top:5px;
            width:20px;
            height:15px;
            display:block;
            float:left;
            background: url(../img/sprites.png) -756px -37px no-repeat;
            margin-left:5px;
        }

        #fb{
            margin-top:5px;
            width:20px;
            height:15px;
            display:block;
            float:left;
            background: url(../img/sprites.png) -786px -37px no-repeat;
            margin-left:10px;
        }
    }

}


/******************************************CSS SECTIONS**********************************************/


.quienes_page{

    .section_container_main{
        .browser_fix &{
            position:relative;
            top:-55px;
            z-index: 1px;
        }
    }

    .titulo{
        background:url(../img/sprites_sections.png) 0 0 no-repeat;
        width:1100px;
        height:176px;
        display:block;
        margin-top: -55px;

        .browser_fix &{
            position:relative;
            top:-55px;
            z-index: 1px;

        }

        h2{
            background:url(../img/sprites_sections.png) -477px -559px no-repeat;
            width:246px;
            height:52px;
            display:block;
            margin-top: 95px;
            margin-left: 15px;
        }
    }

    .suit_imagen{
        background:url(../img/sprites_sections.png) -47px -183px no-repeat;
        width:232px;
        height:368px;
        display:block;
        margin-top: -21px;
        margin-left:15px;
        float:left;
    }

    p{
        /*background:url(../img/sprites_sections.png) -477px -614px no-repeat;*/
        width:513px;
        height:57px;
        display:block;
        margin-top: 60px;
        margin-left:25px;
        float:left;

        &.second{
            margin-top:50px;
        }
    }

    .video{
        background:url(../img/sprites_sections.png) -21px -564px no-repeat;
        width:402px;
        height:241px;
        display:block;
        margin-top:15px;
        margin-left:1px;
        float:left;
        clear:left;

        &:hover{
            cursor:pointer;
        }

        video{
            background: black;

        }
    }

    .estos_somos{
        background:url(../img/sprites_sections.png) -438px -260px no-repeat;
        width:595px;
        height:241px;
        display:block;
        margin-top:15px;
        margin-left:50px;
        float:left;
        padding-left: 20px;

        .employee_container{
           margin-top: 80px;
            width: 92px;
            height: 98px;
            float: left;

            .descripcion{
                display: none;
                width: 300px;
                &.leo{
                    width: 250px;
                    h3{
                        position: relative;
                        top: -72px;
                        left: 105px;
                        font-size: 22px;
                    }
                    ul{
                        position: relative;
                        top: -65px;
                        left: 80px;
                    }

                }
                &.cristian{
                    h3{
                        position: relative;
                        top: -72px;
                        left: 105px;
                        font-size: 22px;
                    }
                    ul{
                        position: relative;
                        top: -55px;
                        left: 80px;
                    }

                }
            }

        }

        .employee{
            width: 92px;
            height: 98px;


            &.leo{
                background: url(../img/sprites_sections.png) -309px -1491px no-repeat;
                cursor: pointer;
            }

            &.cristian{
                background: url(../img/sprites_sections.png) -309px -1617px no-repeat;
                cursor: pointer;
            }
        }
    }

}

.podemos_page{

    .section_container_main{
        .browser_fix &{
            position:relative;
            top:-55px;
            z-index: 1px;
        }
    }
    .titulo{
        background:url(../img/sprites_sections.png) 0 0 no-repeat;
        width:1100px;
        height:176px;
        display:block;
        margin-top: -55px;

        .browser_fix &{
            position:relative;
            top:-55px;
            z-index: 1px;

        }



        h2{
            background:url(../img/sprites_sections.png) -477px -689px no-repeat;
            width:358px;
            height:52px;
            display:block;
            margin-top: 95px;
            margin-left: 15px;
        }
    }

    .suit_imagen{
        background:url(../img/sprites_sections.png) -904px -873px no-repeat;
        width:145px;
        height:368px;
        display:block;
        margin-top: -21px;
        margin-left:75px;
        float:left;
    }

    .section_container{
        float:left;
        margin-left:15px;

        .section-1{
            background-color:#EDEDED;
            border-width:1px;
            border-color:#CCCCCC;
            border-style:solid;
            width:800px;
            height:200px;
            display:block;
            margin-left:15px;
            margin-top:25px;

            h3{
                width:220px;
                height:33px;
                background:url(../img/sprites_sections.png) -477px -758px no-repeat;
                margin-top:15px;
                margin-left:15px;
            }

            p{
                width:771px;
                height:39px;
                background:url(../img/sprites_sections.png) -477px -797px no-repeat;
                margin-top:10px;
                margin-left:15px;
            }
        }

        .section-2{
            background:url(../img/sprites_sections.png) -22px -861px no-repeat;
            width:802px;
            height:252px;
            display:block;
            margin-left:15px;
            margin-top:25px;

            p{
                margin-left:170px;
                margin-top:5px;
                display:block;
                height:112px;
                width:388px;
                background:url(../img/sprites_sections.png) -35px -1359px no-repeat;
            }

            h3{
                width:139px;
                height:33px;
                background:url(../img/sprites_sections.png) -1003px -559px no-repeat;
                margin-top:15px;
                margin-left:15px;
            }


            ul{
                margin-left:10px;
                margin-top:28px;
                display:block;
                height:54px;
                width:739px;
                background:url(../img/sprites_sections.png) -475px -1394px no-repeat;
            }
        }

        .section-3{
            background-color:#CC0000;
            border-width:1px;
            border-color:#CCCCCC;
            border-style:solid;
            width:800px;
            height:100px;
            display:block;
            margin-left:15px;
            margin-top:25px;

            h3{
                margin-left:auto;
                margin-right:auto;
                margin-top:25px;
                display:block;
                height:61px;
                width:425px;
                background:url(../img/sprites_sections.png) -528px -193px no-repeat;
            }
        }
    }
}

#quiero_click{
    cursor: pointer;
}

.contacto_page{

    .section_container_main{
        .browser_fix &{
            position:relative;
            top:-55px;
            z-index: 1px;
        }
    }

    .titulo{
        background:url(../img/sprites_sections.png) 0 0 no-repeat;
        width:1100px;
        height:176px;
        display:block;
        margin-top: -55px;

        .browser_fix &{
            position:relative;
            top:-55px;
            z-index: 1px;

        }

        h2{
            background:url(../img/sprites_sections.png) -1003px -677px no-repeat;
            width:246px;
            height:52px;
            display:block;
            margin-top: 95px;
            margin-left: 15px;
        }
    }

    .suit_imagen{
       background:url(../img/sprites_sections.png) -1052px -861px no-repeat;
        width:232px;
        height:445px;
        display:block;
        margin-top: -35px;
        margin-left:15px;
        float:left;
    }

    #llamenos{
        margin-top:60px;
        float:left;

        h3{
            width:104px;
            height:33px;
            background:url(../img/sprites_sections.png) -47px -1137px no-repeat;
            margin-left:1px;
            margin-right:1px;
        }

        p{
            width:196px;
            height:43px;
            background-color:#EDEDED;
            border-color:#CCCCCC;
            border-style:solid  ;
            border-width:1px;

            span{
                margin-top:3px;
                display:block;
                width:196px;
                height:43px;
                background:url(../img/sprites_sections.png) -47px -1170px no-repeat;
            }

            a{
                display:block;
                width:196px;
                height:43px;
            }

        }

    }

    #skype{
        float:left;
        margin-top:60px;
        margin-left:40px;

         h3{
            width:104px;
            height:33px;
            background:url(../img/sprites_sections.png) -294px -1137px no-repeat;
            margin-left:1px;
            margin-right:1px;
        }

        p{
            width:196px;
            height:43px;
            background-color:#EDEDED;
            border-color:#CCCCCC;
            border-style:solid  ;
            border-width:1px;

            span{
                margin-top:3px;
                display:block;
                width:196px;
                height:43px;
                background:url(../img/sprites_sections.png) -315px -1170px no-repeat;
                margin-left:15px;
            }

        }

    }

    #redes_sociales{
        float:left;
        margin-top:60px;
        margin-left:40px;

         h3{
            width:165px;
            height:33px;
            background:url(../img/sprites_sections.png) -540px -1137px no-repeat;
            margin-left:1px;
            margin-right:1px;
        }

        a{
            display:block;
            width:156px;
            height:37px;
        }

        .facebook{
            float:left;
            width:156px;
            height:37px;
            background:url(../img/sprites_sections.png) -696px -1170px no-repeat;
        }

        .twitter{
            float:left;
            width:156px;
            height:37px;
            background:url(../img/sprites_sections.png) -540px -1170px no-repeat;
        }

    }

    #email{
        width:700px;
        height:85px;
        margin-top:165px;

         h3{
            width:104px;
            height:33px;
            background:url(../img/sprites_sections.png) -47px -1230px no-repeat;
            margin-left:1px;
            margin-right:1px;
        }

        p{
            width:396px;
            height:43px;
            background-color:#EDEDED;
            border-color:#CCCCCC;
            border-style:solid  ;
            border-width:1px;

            span{
                margin-top:3px;
                display:block;
                width:387px;
                height:43px;
                background:url(../img/sprites_sections.png) -52px -1263px no-repeat;
                margin-left:5px;
            }

        }

        a{
            display:block;
            width:396px;
            height:43px;
        }

    }

    .gracias{
            margin-top: 34px;
            font-size: 23px;
            width: 785px;
            color:#333333;
    }

    #formulario{
        width:600px;
        float: left;

        label{
            float:left;
            margin-top:10px;

            &.nombre{
                height:21px;
                width:70px;
                background:url(../img/sprites_sections.png) -491px -1250px no-repeat;
            }

            &.email{
                height:21px;
                width:70px;
                background:url(../img/sprites_sections.png) -840px -1251px no-repeat;
            }

            &.empresa{
                clear:left;
                height:21px;
                width:70px;
                background:url(../img/sprites_sections.png) -495px -1299px no-repeat;
            }

            &.telefono{
                height:21px;
                width:70px;
                background:url(../img/sprites_sections.png) -839px -1299px no-repeat;
            }

            &.mensaje{
                clear:left;
                height:21px;
                width:70px;
                background:url(../img/sprites_sections.png) -494px -1349px no-repeat;
            }
        }



        form{
            padding-left:40px;
            padding-top:30px;
            width:760px;
            height:270px;
            background-color:#EDEDED;
            border-color:#CCCCCC;
            border-style:solid  ;
            border-width:1px;

            input[type="text"]{
                width:277px;
                height:32px;
                border-color:#CCCCCC;
                border-style:solid  ;
                border-width:1px;
                float:left;
                margin-bottom:10px;
            }

            textarea{
                width:623px;
                height:134px;
                border-color:#CCCCCC;
                border-style:solid  ;
                border-width:1px;
                float:left;
                resize: none;
            }

            input[type="submit"]{
                width:92px;
                height:33px;
                background-color:#CC0000;
                float: right;
                position: relative;
                top: 39px;
                left:-10px;
                background:url(../img/sprites_sections.png) -665px -1305px no-repeat;
            }


        }

        h3{
            margin-top:20px;
            display:block;
            width:387px;
            height:43px;
            background:url(../img/sprites_sections.png) -47px -1315px no-repeat;
            margin-left:5px;
        }
    }
}